<div class="border-2 min-h-[15vh] rounded-md my-4 p-8 md:px-12">
  <div class="flex md:flex-row flex-col justify-between items-center">
    <h3 class="text-3xl font-bold">Log in / Register</h3>
    <div
      class="min-h-[60px] underline flex gap-4 text-xl font-medium items-center"
    >
      <a
        routerLink="/"
        [ngClass]="isLogin ? '' : 'text-gray-300'"
        (click)="onLogin()"
        >Log in</a
      >
      <a
        routerLink="/"
        [ngClass]="isLogin ? 'text-gray-300' : ''"
        (click)="onRegister()"
        >Register</a
      >
    </div>
  </div>
  <hr class="mb-6 md:my-6" />
  <form #form="ngForm" class="flex flex-col gap-4">
    <div>
      <label for="title" class="text-lg font-medium">Username</label>
      <input
        name="title"
        type="text"
        class="w-full border-gray-400 rounded-md mt-2"
      />
    </div>
    <div *ngIf="!isLogin">
      <label for="email" class="text-lg font-medium">Email</label>
      <input
        name="email"
        type="email"
        class="w-full border-gray-400 rounded-md mt-2"
      />
    </div>
    <div>
      <label for="password" class="text-lg font-medium">Password</label>
      <input
        name="password"
        type="password"
        class="w-full border-gray-400 rounded-md mt-2"
      />
    </div>
    <div *ngIf="!isLogin">
      <label for="re-password" class="text-lg font-medium"
        >Re-enter password</label
      >
      <input
        name="re-password"
        type="password"
        class="w-full border-gray-400 rounded-md mt-2"
      />
    </div>
    <div class="flex gap-4 justify-center md:justify-end w-full mt-4">
      <button class="bg-blue-600 hover:bg-blue-500 button w-full !py-4">
        {{ isLogin ? "Log in" : "Register" }}
      </button>
    </div>
  </form>
</div>
